@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

:target {
  scroll-margin-top: 5rem;
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .grid-cols-3-to-1 {
    grid-template-columns: 75% 25%;
  }
}

